<%- include('header'); -%>

    <!-- <p>This is our about page</p> -->
    <div class="jumbotron centered">
        <div class="container">
            <p>
                Hope you are enjoying using the website. For any queries or feedback,
                please feel free to contact us:
            </p>
            <ul>
                <li>
                    <strong>Developer:</strong> Amey Dhimte
                </li>
                <li>
                    <strong>Email:</strong>
                    <a href="ameydhimtecoding@gmail.com">ameydhimtecoding@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <a class="btn btn-light btn-lg" href="/" role="button">Home</a>
        </div>
    </div>

    <%- include('footer'); -%>