<%- include('header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3" style="color: rgb(16, 227, 213);"> Create Your To-Do Lists 📃</h1>
    <p>Try to login if you've registered previously</p>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <!-- <a class="btn btn-light btn-lg" href="/about" role="button">About Us</a> -->
  </div>
</div>

<%- include('footer') %>